 <!-- Fixed navbar -->

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <strong>Quotation List</strong>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <!--<form action="..\Pharmaproject\Main.htm">-->
                        <input id="txtTypeahead" class="form-control input-sm" ng-model="mySearch">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="submit" ng-click="DoSearch(mySearch)">
                                Search
                            </button>
                        </span>
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>QTN No.</th>
                        <th>Company Name</th>
                        <th>Total value</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.products" ng-class="{success : product.status == 'Completed', warning : product.status == 'Track Quotation',active : product.status == 'In-Progress' }">
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.productName}}</td>
                        <td>{{ product.price | currency }}</td>
                        <td>{{ product.status }}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="editProduct(product.productCode)">Edit</button>
                            <button class="btn btn-primary btn-xs" ng-click="viewProduct(product.productCode)">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>